<form>
    <div class="modal-header">
        <button type="button" style="float: left" class="close" data-dismiss="modal" ng-click="dismiss('')">&times;
        </button>
        <h4 ng-if="id==null" class="modal-title">ایجاد</h4>
        <h4 ng-if="id!=null" class="modal-title">ویرایش</h4>
    </div>
    <flash-message name="flash-in-modal">
    </flash-message>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 col-md-6 form-group">
                <div class="col-xs-12 col-sm-2">
                    <label for="contactName">نام</label>
                </div>
                <div class="col-xs-12 col-sm-10">
                    <input class="form-control" type="text" id="contactName" ng-model="name"
                           oninput="removeNumericCharacters('contactName')">
                </div>
            </div>
            <div class="col-xs-12 col-md-6 form-group">
                <div class="col-xs-12 col-sm-2">
                    <label for="contactHomePhone">تلفن</label>
                </div>
                <div class="col-xs-12 col-sm-10">
                    <input class="form-control" type="text" id="contactHomePhone" ng-model="homePhone"
                           oninput="removeNonNumericCharacters('contactHomePhone')">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 form-group">
                <div class="col-xs-12 col-sm-2">
                    <label for="contactMobile">موبایل</label>
                </div>
                <div class="col-xs-12 col-sm-10">
                    <input class="form-control" type="text" id="contactMobile" ng-model="mobile"
                           oninput="removeNonNumericCharacters('contactMobile')">
                </div>
            </div>
            <div class="col-xs-12 col-md-6 form-group">
                <div class="col-xs-12 col-sm-2 ">
                    <label for="contactEmail">رایانامه</label>
                </div>
                <div class="col-xs-12 col-sm-10 ">
                    <input class="form-control" type="email" id="contactEmail" ng-model="email">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 form-group">
                <div class="col-xs-12 col-sm-2 col-md-1">
                    <label for="contactAddress">آدرس</label>
                </div>
                <div class="col-xs-12 col-sm-10  col-md-11">
                    <input class="form-control" type="text" id="contactAddress" ng-model="address">
                </div>
            </div>
        </div>
        <input type="hidden" name="id" ng-model="id">
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="saveOrUpdate()">ثبت</button>
        <button type="button" class="btn btn-default" ng-click="dismiss('')">لغو</button>
    </div>
</form>



