<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>CartAdd</servlet-name>
        <servlet-class>murach.cart.CartAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartUpdate</servlet-name>
        <servlet-class>murach.cart.CartUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartRemove</servlet-name>
        <servlet-class>murach.cart.CartRemoveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartShowServlet</servlet-name>
        <servlet-class>murach.cart.CartShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductShowSerlvet</servlet-name>
        <servlet-class>murach.cart.ProductShowSerlvet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartAdd</servlet-name>
        <url-pattern>/cartadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartUpdate</servlet-name>
        <url-pattern>/cartupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartRemove</servlet-name>
        <url-pattern>/cartremove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductShowSerlvet</servlet-name>
        <url-pattern>/productshow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartShowServlet</servlet-name>
        <url-pattern>/cartshow</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>productshow</welcome-file>
    </welcome-file-list>
</web-app>
