<link rel="stylesheet" href="/dl/css/textAngular.css">
<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">-->
<link rel="stylesheet" href="/dl/css/all.css">
<div class="edit-block">
    <div class="panel-heading background-black max-padding "
         data-ng-hide="actions.common.params.getParam('hideFormTitle')">
        <h3 class="panel-title color-white">
            <span class="glyphicon glyphicon-pencil"></span>
            <span>{{formTitle}}</span>
            <i class="icon-close  pull-left" data-ng-click="back()"></i>
        </h3>
    </div>
    <div class="panel-body">
        <form id="contentEditForm" data-ng-submit="save('')" novalidate>
            <fieldset>
                <div class="row"><!-- other:text -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 no-padding">
                                    <label for="edit_content_code"
                                           class="control-label required-input">{{message("content_code")}}</label>
                                </div>
                                <div class="col-md-10 col-xs-12">
                                    <input name="edit_content_code" type="text" data-ng-model="data.code"
                                           id="edit_content_code" class="form-control" required/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"><!-- other:text -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 no-padding">
                                    <label for="edit_content_title"
                                           class="control-label required-input">{{message("content_title")}}</label>
                                </div>
                                <div class="col-md-10 col-xs-12">
                                    <input name="edit_content_title" type="text" data-ng-model="data.title"
                                           id="edit_content_title" class="form-control" required/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"><!-- file -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 no-padding">
                                    <label for="edit_content_file"
                                           class="control-label required-input">{{message("content_file")}}</label>
                                </div>
                                <div class="col-md-10 col-xs-12">

                                    <input id="edit_content_file" name="edit_content_file" type="file" data-ngf-select
                                           data-ngf-change="actions.common.onFileChange($files,'file')"
                                           data-ngf-multiple="false"
                                           accept="{{data.options.systemSetting.config.validFileTypes}}"
                                           data-ng-required="!data.pk"/>
                                    <div>{{widget.file.message}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" data-ng-init="actions.common.fillDate('purchaseDate')"><!-- date -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 no-padding">
                                    <label for="edit_content_purchaseDate" class="control-label required-input">{{message("content_purchaseDate")}}</label>
                                </div>
                                <div class="col-md-10 col-xs-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control border-radius-right"
                                               id="edit_content_purchaseDate"
                                               datepicker-popup-persian="yyyy/MM/dd" date-disabled="false"
                                               data-ng-model="data.purchaseDate" is-open="widget.purchaseDate.isOpen"
                                               data-ng-required="true"
                                               show-button-bar="false" datepicker-options="widget.purchaseDate.options"
                                               close-on-date-selection="true" required/>
                                        <span class="input-group-addon"
                                              data-ng-click="widget.purchaseDate.openDate($event)">
                      <span class="glyphicon glyphicon-calendar">

                      </span>
                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row"><!-- content_contentType -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 no-padding">
                                    <label for="edit_content_contentType" class="control-label required-input">{{message("content_contentType")}}</label>
                                </div>
                                <div class="col-md-10 col-xs-12">
                                    <select name="edit_content_contentType" id="edit_content_contentType"
                                            data-ng-options="item.pk as item.toStr for item in data.options.contentType.items"
                                            class="form-control" data-ng-model="data.contentType.pk"
                                            data-ng-change="data.adaptiveDataModel={}"
                                            data-rule-ngmodelrequired="true">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row"><!-- suggest -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 no-padding">
                                    <label for="edit_content_library" class="control-label required-input">{{message("content_library")}}</label>
                                </div>
                                <div class="col-md-10 col-xs-12">
                                    <ui-select data-ng-model="data.library" search-enabled="true"
                                               data-ng-disabled="!data.contentType.pk" data-rule-ngmodelrequired="true">
                                        <ui-select-match allow-clear>
                                            {{$select.selected.toStr}}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="item as item in widget.library.items | filter: $select.search"
                                                refresh="ahmad('library','library', $select.search, 10)"
                                                refresh-delay="0">{{item.toStr}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row"><!-- content_confidential_level -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 no-padding">
                                    <label for="edit_content_confidentialLevel" class="control-label required-input">{{message("content_confidential_level")}}</label>
                                </div>
                                <div class="col-md-10 col-xs-12">
                                    <select name="edit_content_confidentialLevel" id="edit_content_confidentialLevel"
                                            data-ng-options="cl.pk as cl.toStr for cl in data.options.confidentialLevels"
                                            class="form-control"
                                            data-ng-model="data.confidentialLevel.pk"
                                            data-rule-ngmodelrequired="true">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row"><!-- description: textAngular -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2 col-xs-12 no-padding">
                                    <label for="edit_content_description" class="control-label">{{message("content_description")}}</label>
                                </div>
                                <div class="col-md-10 col-xs-12">
                                    <div id="edit_content_description" text-angular ng-model="data.description"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <hr>
                <adaptive-widget data-ng-model="data.adaptiveDataModel" adaptive-name="contentType"
                                 adaptive-id="data.contentType.pk" type="EDIT">
                </adaptive-widget>


            </fieldset>
        </form>
    </div>
    <div class="panel-footer" data-ng-hide="actions.common.params.getParam('hideButtons')">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <button type="button" class="btn btn-default btn-fix-size pull-left" data-ng-click="back()">
                    {{message('btn_back_text')}}
                </button>
                <button type="submit" class="btn btn-primary btn-fix-size pull-left min-margin-left"
                        data-ng-click="save('')">{{message('btn_save_text')}}
                </button>
            </div>
        </div>
    </div>
</div>
